    @media screen and (max-width:768px) {

        :root {
            font-size: 10px;
        }

        header {
            display: block;
        }

        .menu-bar i {
            display: block;

        }

        .menu-bar i:hover {
            cursor: pointer;
        }

        .hide {
            display: none;
        }

        header .show ul {
            display: block;
        }

        header .show ul li a {
            display: inline-block;
        }

        .flex-box {
            justify-content: center;
        }


    }